{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}Latest News{% endblock %}

{% block content %}
<div class="container">
    <h1 class="heading">News</h1>
  {% for n in length: %}
<!--  <p>-->
  <ul>
    <li>{{ titles[n] }}</li>
    <ul>
      <li>{{ summaries[n] }}</li>
    </ul>
  </ul>

<!--  </p>-->
  {% endfor %}

</div>
{% endblock %}